body {
    background-color: black;
}

h1, h2 {
    color: white;
    margin: 0.1em auto;
    text-align: center;
}

h1 { 
    font-size: clamp(2rem, 5vw + 1rem, 5rem); 
}

h2 { 
    font-size: clamp(1.2rem, 2.5vw + 0.5rem, 2.5rem); 
}

h3 {
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    max-width: 60vw;
    margin: 0 auto;
    align-items: center;
}

#night_mushroom {
    width: 100%;
    height: inherit;
    border: 2.5px;
    border-style: solid;
    border-color: white;
}