body {
    background-color: black;
}

h1, h2 {
    color: white;
    margin: 5px auto;
    text-align: center;
}

h1 { 
    font-size: clamp(2rem, 5vw + 1rem, 5rem); 
}

h2 { 
    font-size: clamp(1.2rem, 2.5vw + 0.5rem, 2.5rem); 
}

#night_mushroom {
    width: 100%;
    height: inherit;
}

#night_mushroom_container {
    width: 50%;
    height: inherit;
    margin: 0 auto; 
    border: 5px;
    border-style: solid;
    border-color: white;
}